{% extends "00_padre.html" %}
{% load static %}

{% block titulo %} HOME {% endblock %}

{% block contenido_que_cambia %}



{% if mensaje %}
<div class="alert alert-success" style="display: flex; justify-content: center; align-items: center;">
 
    <h3 >   {{ mensaje }}   </h3>
 
</div>
 {% endif %}
 



 {% if messages %}
    <div class="alert alert-success" style="display: flex; justify-content: center; align-items: center;">
     <h3 >

       {% for message in messages %}
           
           {% if forloop.first %}
                    {{ message }}
            {% endif %}
       {% endfor %}
        </h3>
        </div>
{% endif %}


    
 
   


<div style="display: flex; justify-content: center; align-items: center;">
    <img src="{% static 'AppPages/assets/img/grupo-mascotas-perro-gato-pajaro-conejo.jpg' %}" alt="avatar" width="700" height="auto" />
</div>


{% endblock %}