{% extends "00_padre.html" %}
{% load static %}

{% block titulo %} HOME {% endblock %}

{% block contenido_que_cambia %}
<style>  .red-text {color: rgb(49, 124, 35);}</style>
   <H3 class="red-text" style="display: flex; justify-content: center; align-items: center;"> {{ mensaje }}</H3>

<div style="display: flex; justify-content: center; align-items: center;">
    <img src="{% static 'AppPages/assets/img/grupo-mascotas-perro-gato-pajaro-conejo.jpg' %}" alt="avatar" width="700" height="auto" />
</div>


{% endblock %}