{% extends "00_padre.html" %}
{% load static %}

{% block titulo %} Lista de Historias {% endblock %}

{% block contenido_que_cambia %}
<div class="container text-center">
    <h3>{{ mensaje }}</h3>
</div>
<div class="container text-center">
    <div class="row">
            {% for mascotaHistoria in mascotasHistorias %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <h5>{{mascotaHistoria.titulo}}</h5>
                
             
                {% if  mascotaHistoria.imagenMascota  == "" %}
                    <img src="{% static 'AppPages/assets/img/noImage.jpg' %}" alt="avatar" style="width:250px;height:auto;" >
                {% else %}
                    <img src="{{ mascotaHistoria.imagenMascota.url }}" alt="avatar" width="250px" height="auto" />
                {% endif %}




              
                
                <br>
                Autor: {{mascotaHistoria.autor}}
                <br>
                <p>Fecha de publicación:  {{mascotaHistoria.fechaPublicacion}}</p>
                <a class="navbar-brand" href="{% url 'routePagesId' mascotaHistoria.id %}">Ver Historia ></a>
                </div>
            </div>
            {% endfor %}
    </div>
</div>


{% endblock %}